
:host {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }
  
  label {
    display: inline-block;
    width: 9em;
    text-align: left;
    color: #000000;
    
  }
  
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  
  button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  label:text-danger {
    color: 	#FF0000;

  }

  form {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  

  container {
    display: block;
    text-align: center;
  }
  panel {
    text-align: center;
  }


  
  